<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="documento" matInput placeholder="Documento de identificación*">
          <mat-error *ngIf="service.form.controls['documento'].errors?.required">Este campo es obligatorio</mat-error>
          <mat-error *ngIf="service.form.controls['documento'].errors?.minlength">Este campo no cumple con un documento valido, minimo 6 digitos</mat-error>
          <mat-error *ngIf="service.form.controls['documento'].errors?.maxlength">Este campo no cumple con un documento valido, maximo 10 digitos</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Nombre completo*">
          <mat-error>Este campo es obligatorio.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="tpublico">
            <mat-radio-button value="1">Propietario</mat-radio-button>
            <mat-radio-button value="2">Visitante</mat-radio-button>
            <mat-radio-button value="3">Trabajador</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>